<div id="container">
  <div>
    <ion-item>
      <ion-label position="floating">{{name}}</ion-label>
      <ion-input [(ngModel)]="inputValue" clearInput></ion-input>
    </ion-item>
  </div>

  <ion-button on-click="classifyText()" color="tertiary">Analyse</ion-button>

  <div>
    <ion-chip on-click="hideChip = !hideChip" [hidden]="hideChip" color="{{ analysisResult === 'Positive' ? 'success' : 'danger' }}">
      <ion-label>Your text is {{ analysisResult }}</ion-label>
    </ion-chip>
  </div>
</div>
